<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{Admin/base::layout(~{::section})}
">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add member </title>
</head>
<body>
    <section>
       <div class="card me-2 ms-2">
        <div class="card-body bg-card">

        <h1 class="text-center">Add member </h1>
        
        <div class="container-fluid mt">
        <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2">


         <form action="#" th:object="${member}" 
         enctype="multipart/form-data" method="post"
         th:action="@{/admin/process-member}"
         class="mt-3">

         <div class="input-group">
            <div class="input-group-prepand">
                <div class="input-group-text ms-2">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
             <input required type="text" id="name" name="name"
               placeholder="Enter name here" class="form-control"/>
         </div>


         <div class="input-group mt-3">
            <div class="input-group-prepand">
                <div class="input-group-text ms-2">
                    <i class="fa-solid fa-at"></i>
                </div>
            </div>
             <input required type="text" id="email" name="email"
               placeholder="Enter email here" class="form-control"/>
         </div>


         <div class="input-group mt-3">
            <div class="input-group-prepand">
                <div class="input-group-text ms-2">
                    <i class="fa-solid fa-phone"></i>
                </div>
            </div>
             <input required type="number" id="phone" name="phone"
               placeholder="Enter phone here" class="form-control"/>
         </div>
             
         <div class="input-group mt-3">
          <div class="input-group-prepand">
              <div class="input-group-text ms-2">
                <i class="fa-solid fa-lock"></i>
              </div>
          </div>
           <input required type="password" id="password" name="password"
             placeholder="Enter password here" class="form-control"/>
       </div>


       <div class="input-group mt-3">
        <div class="input-group-prepand">
            <div class="input-group-text ms-2">
                <i style='font-size:18px' class='fas'>&#xf253;</i>
            </div>
        </div>
         <input required type="text" id="duration" name="duration"
           placeholder="Enter duration here" class="form-control"/>
     </div>
              


         <div class="input-group mt-3 ">
            <div class="input-group-prepand">
                <div class="input-group-text ms-2">
                    <i class="fa-solid fa-house"></i>
                </div>
            </div>
            <textarea required class="form-control" name="address" rows="5" id="formGroupExampleInput2"
                placeholder="Enter your Address ">
    </textarea>
        </div>
              
          <div class="container text-center mt-3 mb-3">
            <button class="btn btn-outline-success btn-lr"> Save Member</button>
          </div>

           </form>
        </div>
        </div>
        </div>
        </div>
        </div>

    </section>
</body>
</html>